---
const currentDate = new Date();
const dayNumber = currentDate.getDate();
const monthNumber = currentDate.toLocaleString("en-US", { month: "short" });
---

<div id="landing" class="font-display size-full">
  <img
    src="/frames/ezgif-frame-001.webp"
    id="background"
    loading="lazy"
    alt="animation"
    class="fixed top-0 left-0 size-full object-cover z-[-1]"
  />
  <header id="header" class="p-4 pb-0 fixed w-full z-10">
    <nav
      class="flex justify-between items-center m-1 border-b-1 border-white p-4"
    >
      <div>
        <a href="#landing" class="sm:p-2"
          ><h6 class="font-bebas nav-text text-md sm:text-2xl">
            Alma Cruz Hernández
          </h6></a
        >
        <h6 class="text-white font-bebas hidden sm:inline sm:text-lg">
          FULL STACK WEB DEVELOPER
        </h6>
      </div>
      <div>
        <ul>
          <li class="nav-text text-md sm:text-lg">
            <a
              class="btn line-btn-dark btn-icon btn-radius"
              href="/cv/AlmaCruzResume.pdf"
            >
              resume
            </a>
          </li>
          <li class="nav-text text-md sm:text-lg">
            <a href="#about-section">about</a>
          </li>
          <li class="nav-text text-md sm:text-lg">
            <a href="#works-section">works</a>
          </li>
          <li class="nav-text text-md sm:text-lg">
            <a href="#contact-section">contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="size-full">
    <div class="text-white absolute flex flex-row top-[18%] right-[20%]">
      <div class="inline-block">
        <span class="text-8xl font-display font-extrabold">{dayNumber}</span>
      </div>

      <div class="flex flex-col justify-center w-fit">
        <span class="text-lg block font-extrabold">{monthNumber}</span>
        <span class="text-md">Available</span>
        <span class="text-md">for work</span>
      </div>
    </div>

    <div
      class="pt-[75%] pl-[5%] pr-[5%] flex justify-evenly flex-col sm:pt-[50%] lg:pt-[35%] 2xl:pt-[25%]"
    >
      <div>
        <div>
          <span class="text-[#f3f0b8] font-extrabold text-xl sm:text-2xl"
            >FULL STACK
          </span>
        </div>
        <div class="line">
          <span
            class="font-bebas text-extrabold text-[#fdf9ad] text-8xl sm:text-9xl"
            >WEB</span
          >
        </div>
        <div class="line">
          <span
            class="font-bebas text-extrabold text-[#fdf9ad] text-8xl sm:text-9xl"
            >DEVELOPER</span
          >
        </div>
      </div>
      <div
        class="text-white flex flex-col text-start w-full font-display mt-5 sm:text-xl lg:text-wrap"
      >
        <div class="uppercase text-end pr-1.5">I'm a full stack developer</div>
        <span class="uppercase text-right lg:w-1/2 lg:self-end">
          based in Gran Canaria. With one year of experience in the industry and
          a passion for web development. I keep learning and improving my skills
          every day.</span
        >
        <span class="uppercase"></span>
        <span class="uppercase"></span>
        <button
          class="bg-[#f3f0b800] border-1 border-[#f3f0b8] text-[#f3f0b8] p-2.5 rounded-[50px] text-lg font-extrabold self-end mt-5 w-44 cursor-pointer sm:w-52 sm:text-xl"
          ><a href="mailto:alma.cruz.dev@gmail.com?subject=Job Offer"
          ></a>CONTACT ME</button
        >
      </div>
    </div>
    <div class="pt-[20vh] pl-[5%] pr-[5%] pb-0 text-start h-full">
      <section id="about-section" class="scroll-mt-28">
        <span class="line-about text-[#fdf9ad] font-bebas text-7xl sm:text-8xl"
          >HELLO. I'M ALMA</span
        >
        <p class="text-white sm:text-xl lg:w-1/2 lg:text-wrap">
          I use my passion and skills to create digital experiences that are
          intuitive, efficient, and impactful, leveraging technology to solve
          real-world problems and enhance user interactions.
        </p>
      </section>
      <section id="works-section" class="mt-20 scroll-mt-28">
        <span class="uppercase text-[#f3f0b8] text-2xl cursor-pointer"
          >Selected works</span
        >
        <div class="text-center mt-5">
          <span
            class="text-white font-bebas text-7xl cursor-pointer hover:text-[#fdf9ad] active:text-[#fdf9ad]"
            ><a href="https://edukami.ai/">Edukami.ai</a></span
          >
        </div>
        <div class="text-center mt-5">
          <span
            class="text-white font-bebas text-7xl cursor-pointer hover:text-[#fdf9ad] active:text-[#fdf9ad]"
            ><a href="https://reboot.academy/talent">Reboot Talent</a></span
          >
        </div>
        <div class="text-center mt-5">
          <span
            class="text-white font-bebas text-7xl cursor-pointer hover:text-[#fdf9ad] active:text-[#fdf9ad]"
            ><a href="https://wisecanarias.com/">WISE-C</a></span
          >
        </div>
        <div class="text-center mt-5">
          <span
            class="text-white font-bebas text-7xl cursor-pointer hover:text-[#fdf9ad] active:text-[#fdf9ad]"
            ><a href="https://africandoto.netlify.app/">AfricaNdoto FrontEnd</a
            ></span
          >
        </div>
        <div class="text-center mt-5">
          <span
            class="text-white font-bebas text-7xl cursor-pointer hover:text-[#fdf9ad] active:text-[#fdf9ad]"
            ><a href="https://github.com/AfricaNdoto-Project/AN-Backend-DB"
              >AfricaNdoto BackEnd</a
            ></span
          >
        </div>
        <div class="text-center mt-5">
          <span
            class="text-white font-bebas text-7xl cursor-pointer hover:text-[#fdf9ad]"
            ><a href="https://nemechix.github.io/Tower-defense/"
              >Demons Defender</a
            ></span
          >
        </div>
        <div class="flex justify-center">
          <button
            class="bg-[#f3f0b800] border-1 border-[#f3f0b8] text-[#f3f0b8] p-2.5 rounded-[50px] text-lg font-extrabold self-end mt-5 w-44 cursor-pointer sm:w-52 sm:text-xl"
            ><a href="mailto:alma.cruz.dev@gmail.com?subject=Job Offer"
              >CONTACT ME</a
            ></button
          >
        </div>
      </section>
      <section id="contact-section" class="mt-20">
        <div
          class="font-bebas text-[#f3f0b8] text-7xl flex flex-col sm:text-8xl lg:row-span-2"
        >
          <span>Let's</span>
          <span>contact</span>
        </div>
        <span class="text-white text-xl uppercase sm:text-2xl lg:h-fit"
          >I'm interested in</span
        >
        <div class="space-y-3 mt-5 w-full xl:w-1/2">
          <button class="uppercase bg-[#fdf9ad] border-1 rounded-4xl w-fit p-2"
            >Frontend development</button
          >
          <button class="uppercase bg-[#fdf9ad] border-1 rounded-4xl w-fit p-2"
            >Backend development</button
          >
          <button class="uppercase bg-[#fdf9ad] border-1 rounded-4xl w-fit p-2"
            >Fullstack development</button
          >
          <button class="uppercase bg-[#fdf9ad] border-1 rounded-4xl w-fit p-2"
            >Wordpress development</button
          >
          <button class="uppercase bg-[#fdf9ad] border-1 rounded-4xl w-fit p-2"
            >Coffee</button
          >
        </div>

        <div
          class="flex justify-center mt-5 items-center space-x-5 lg:justify-start 2xl:justify-end"
        >
          <span class="text-white uppercase sm:text-xl"
            >Are you minding a project?</span
          >
          <button
            class="bg-[#f3f0b800] border-1 border-[#f3f0b8] text-[#f3f0b8] p-2.5 rounded-[50px] text-lg font-extrabold self-end w-44 cursor-pointer sm:w-52 sm:text-xl"
            ><a href="mailto:alma.cruz.dev@gmail.com?subject=Job Offer"
              >CONTACT ME</a
            ></button
          >
        </div>

        <div class="w-full h-2 border-b-1 border-white mt-5 sm:mt-3"></div>
        <div
          class="mt-1 space-x-5 text-white font-extrabold uppercase 2xl:flex 2xl:justify-end"
        >
          <span
            ><a
              class="btn line-btn-dark btn-icon btn-radius"
              href="/cv/AlmaCruzResume.pdf"
            >
              Resume
            </a>
          </span>
          <span
            ><a href="https://www.linkedin.com/in/almacrh/">Linkedin</a></span
          ><span><a href="https://github.com/AlmaCRH">Github</a></span>
        </div>
      </section>
    </div>
  </main>
  <style>
    html {
      scroll-behavior: smooth;
    }
    #background {
      will-change: background-position;
    }
  </style>

  <script>
    const img = document.getElementById("background");
    const header = document.getElementById("header");
    const max_frames = 100;
    let max_scroll = document.documentElement.scrollHeight - window.innerHeight;

    window.addEventListener("resize", () => {
      max_scroll = document.documentElement.scrollHeight - window.innerHeight;
    });

    window.addEventListener("scroll", () => {
      requestAnimationFrame(() => {
        const scroll_position = window.scrollY;
        const scroll_fraction = scroll_position / max_scroll;

        const frame = Math.floor(scroll_fraction * max_frames) || 1;

        const id = frame.toString().padStart(3, "0");
        img.src = `/frames/ezgif-frame-${id}.webp`;

        if (scroll_position !== 0) {
          header.classList.add("backdrop-blur-md");
        } else {
          header.classList.remove("backdrop-blur-md");
        }
      });
    });
  </script>
</div>
