<button id="menu" class="w-10 space-y-2 md:hidden ml-auto">
  <div class="border-1 border-white"></div>
  <div class="border-1 border-white"></div>
  <div class="border-1 border-white"></div>
</button>
<div
  id="sidebar"
  class="w-[200px] h-screen fixed top-0 right-[-200px] bg-[#2d2d2d] md:hidden p-5"
>
  <span class="text-white absolute top-2 right-2 cursor-pointer"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-8 self-end"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6 18 18 6M6 6l12 12"></path>
    </svg>
  </span>
  <ul class="flex flex-col p-5 space-y-5">
    <li class="nav-text text-2xl">
      <a
        class="btn line-btn-dark btn-icon btn-radius"
        href="/cv/AlmaCruzResume.pdf"
      >
        RESUME
      </a>
    </li>
    <li class="nav-text text-2xl">
      <a href="#about-section">ABOUT</a>
    </li>
    <li class="nav-text text-2xl">
      <a href="#works-section">WORKS</a>
    </li>
    <li class="nav-text text-2xl">
      <a href="#contact-section">CONTACT</a>
    </li>
  </ul>
</div>

<script>
  const menu = document.getElementById("menu");
  const sidebar = document.getElementById("sidebar");
  let isResizing = false;

  window.addEventListener("resize", () => {
    isResizing = true;
    sidebar?.classList.remove("closed", "opened");

    clearTimeout(window.resizeTimeout);
    window.resizeTimeout = setTimeout(() => {
      isResizing = false;
    }, 500);
  });

  window.addEventListener("scroll", () => {
    if (!isResizing && [...sidebar?.classList].includes("opened")) {
      sidebar?.classList.add("closed");
      sidebar?.classList.remove("opened");
    }
  });
  menu?.addEventListener("click", (e) => {
    e.stopPropagation();
    sidebar?.classList.remove("closed");
    sidebar?.classList.add("opened");
  });

  window.addEventListener("click", (e) => {
    if (
      !sidebar?.contains(e.target as HTMLElement) &&
      [...sidebar?.classList].includes("opened")
    ) {
      sidebar?.classList.add("closed");
      sidebar?.classList.remove("opened");
    }
  });
  document.querySelector("#sidebar > span")?.addEventListener("click", (e) => {
    e.stopPropagation();
    sidebar?.classList.add("closed");
    sidebar?.classList.remove("opened");
  });
</script>
