---
import "../styles/global.css";
const currentDate = new Date();
const dayNumber = currentDate.getDate();
const monthNumber = currentDate.toLocaleString("en-US", { month: "short" });
---

<div class="font-display size-full">
  <img
    src="/frames/ezgif-frame-001.jpg"
    id="background"
    class="fixed top-0 left-0 size-full object-cover z-[-1]"
  />
  <header class="p-6">
    <nav
      class="flex justify-between items-center m-1 border-b-1 border-white p-4"
    >
      <div>
        <a class="sm:p-2"
          ><h6 class="font-bebas nav-text text-md sm:text-2xl">
            Alma Cruz Hernández
          </h6></a
        >
        <h6 class="text-white font-bebas hidden sm:inline">
          FULL STACK WEB DEVELOPER
        </h6>
      </div>
      <div>
        <ul>
          <li class="nav-text text-md sm:text-lg"><a>about</a></li>
          <li class="nav-text text-md sm:text-lg"><a>works</a></li>
          <li class="nav-text text-md sm:text-lg"><a>contact</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="size-full">
    <div class="text-white absolute flex flex-row top-[13%] right-[20%]">
      <div class="inline-block">
        <span class="text-8xl font-display font-extrabold">{dayNumber}</span>
      </div>

      <div class="flex flex-col justify-center w-fit">
        <span class="text-lg block font-extrabold">{monthNumber}</span>
        <span class="text-md">Available</span>
        <span class="text-md">for work</span>
      </div>
    </div>

    <div class="pt-[30%] pl-[5%] pr-[5%] flex justify-evenly flex-col">
      <div>
        <div>
          <span class="text-[#f3f0b8] font-extrabold text-xl">FULL STACK </span>
        </div>
        <div class="line">
          <span class="font-bebas text-extrabold text-[#fdf9ad] text-8xl"
            >WEB</span
          >
        </div>
        <div class="line">
          <span class="font-bebas text-extrabold text-[#fdf9ad] text-8xl"
            >DEVELOPER</span
          >
        </div>
      </div>
      <div class="text-white flex flex-col text-end w-full font-display">
        <span class="uppercase"
          >I'm a full stack developer based in Gran Canaria.</span
        >
        <span class="uppercase"
          >With one year of experience in the industry</span
        >
        <span class="uppercase"
          >and a passion for web development. I keep learning</span
        >
        <span class="uppercase">and improving my skills every day.</span>
        <button
          class="bg-[#f3f0b800] border-1 border-[#f3f0b8] text-[#f3f0b8] p-2.5 rounded-[50px] text-lg font-extrabold self-end mt-5 mr-5 w-44 cursor-pointer"
          >CONTACT ME</button
        >
      </div>
    </div>
    <div class="main-content">
      <section id="about-section">
        <span class="line-about">HELLO. I'M ALMA</span>
        <span>I l</span>
        <p></p>
      </section>
      <section id="works-section"></section>
      <section id="contact-section"></section>
    </div>
  </main>
</div>

<style>
  .main-title {
    padding-top: 50vh;
    display: flex;
    justify-content: space-evenly;
  }
  .content {
    color: white;
  }
  .main-content {
    padding-top: 20vh;
    padding: 20vh 20vw 0 20vw;
  }

  .contact-button {
    background-color: #f3f0b800;
    border: 1px solid #f3f0b8;
    color: #f3f0b8;
    padding: 10px;
    border-radius: 50px;
    font-size: 2vw;
    align-self: flex-end;
    margin-top: 20px;
    margin-right: 20px;
    width: 15vw;
    font-weight: 800;
    cursor: pointer;
  }
  .content {
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: end;
  }
  /*   .content span {
    font-size: 2vw;
    text-transform: uppercase;
  } */

  #about-section {
  }
  .line-about {
    color: white;
    font-family: "Bebas Neue", serif;
    font-size: 3vw;
  }

  /*   .availability-section {
    color: white;
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 13%;
    right: 20vw;
  } */

  .month-number {
    font-size: 1vw;
    font-weight: 800;
    display: block;
  }
  .day-number {
    font-size: 10vw;
    font-style: "Bebas Neue", serif;
    font-weight: 800;
  }
  /*  .date {
    display: inline-block;
  } */
  .label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
  }
  /*   .top-title > span {
    color: #f3f0b8;
    font-weight: 800;
    font-size: 2vw;
  } */

  /*   .top-title > span,
  .line > span {
    font-family: "Bebas Neue", serif;
    font-weight: 800;
  }
  .line > span {
    color: #fdf9ad;
    font-size: 9vw;
    font-weight: 800;
    letter-spacing: 10px;
  } */
</style>

<script>
  const img = document.getElementById("background");

  const max_frames = 100;
  let max_scroll = document.documentElement.scrollHeight - window.innerHeight;

  window.addEventListener("resize", () => {
    max_scroll = document.documentElement.scrollHeight - window.innerHeight;
  });

  window.addEventListener("scroll", () => {
    const scroll_position = window.scrollY;
    const scroll_fraction = scroll_position / max_scroll;

    const frame = Math.floor(scroll_fraction * max_frames) || 1;

    const id = frame.toString().padStart(3, "0");
    img.src = `/frames/ezgif-frame-${id}.jpg`;
  });
</script>
